#placement-board{
    width: 500px;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
}

#current-ship-display{
    display: flex;
}

.ship-unit{
    border: 1px solid gray;
    min-width: 50px;
    min-height: 50px;
}

.ship-unit.normal{
    background-color: cyan;
}

.valid-place{
    outline:1px solid green;
}
.invalid-place{
    outline:1px solid red;
}